{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form, {'action' : path('task_create')}) }}
        {{ form_widget(form) }}

        <button type="submit" class="btn btn-success pull-right">Ajouter</button>
    {{ form_end(form) }}
    <a href="{% if app.request.headers.get('referer') is same as (url('task_create')) %}{{ path('home') }}{% elseif app.request.headers.get('referer') is defined %}{{ app.request.headers.get('referer') }}{% endif %}" class="btn btn-primary">Retour à la liste des tâches</a>
{% endblock %}
